@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}

#toolbar {
  width: 100%;
  height: 35px;
  background-color: #000;
  position: absolute;
}

#close {
  width: 45px;
  height: 35px;
  background-color: inherit;
  color: #fff;
  outline: none;
  border: none;
  left: 100%;
  transform: translateX(-100%);
  position: absolute;
  transition: background-color 0.1s ease;
}

#close:hover {
  background-color: #111;
}

#minimize {
  width: 45px;
  height: 35px;
  background-color: inherit;
  color: #fff;
  outline: none;
  border: none;
  left: 100%;
  transform: translateX(-200%);
  position: absolute;
  transition: background-color 0.1s ease;
}

#minimize:hover {
  background-color: #111;
}

#maximize {
  width: 45px;
  height: 35px;
  background-color: inherit;
  color: #fff;
  outline: none;
  border: none;
  left: 100%;
  transform: translateX(-300%);
  position: absolute;
  transition: background-color 0.1s ease;
  font-size: 1.1rem;
}

#maximize:hover {
  background-color: #111;
}

#toolbar-text {
  background-color: #11111100;
  color: #fff;
  position: absolute;
  padding-top: 7px;
  padding-left: 8px;
  margin: 0;
  vertical-align: middle;
  height: fit-content;
  width: fit-content;
}

#main {
  width: calc(100% - 5px);
  height: calc(100% - 35px);
  top: 35px;
  position: absolute;
  background-color: #00000000;
  padding-left: 5px;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111;
}

input {
  resize: horizontal;
  width: 200px;
}

input:active {
  width: auto;
}

input:focus {
  min-width: 200px;
}
